body {
  margin: 0em;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/c3903bd4-ffda-4dcb-a662-a6101cb06312/rsz_fahmi-fakhrudin-nzyzausbv0m-unsplash_1.jpg?v=1645560090567);
  background-size: cover;
  background-position: center;
  color: white; 
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}